S:<request:RequestInstrumentationGateway/>
R:<return:RequestInstrumentationGateway><Status ReturnValue="OK" /></return:RequestInstrumentationGateway>
S:<request:GetConnectedDeviceList/>
R:<return:GetConnectedDeviceList><Status ReturnValue="OK" /><DeviceList>*</DeviceList></return:GetConnectedDeviceList>